<p><strong>----------- Current User Session: ---------</strong></p>
        <% @user = User.find(session[:user_id]) %><br>
        Username: <%= @user.username %><br>
        Name: <%= @user.name %><br>
        User ID: <%= @user.id %><br>
        <%#= image_tag session[:omniauth_data]['info']['image'] %><br> 

<%= link_to "Logout", '/logout' %><br>
<p><strong>--------------------------------------------------</strong></p>

